<div>
  <div class="row">
    <mat-form-field class="col-xs-12">
      <input matInput placeholder="Username" [formControl]="username"/>
      <mat-error *ngIf="username.hasError('required')">This field is required</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-xs-12">
      <input matInput placeholder="Password" [formControl]="password" type="password"/>
      <mat-error *ngIf="password.hasError('required')">This field is required</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="button-container">
      <button mat-raised-button color="warn" [routerLink]="['/']">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Log in</button>
    </div>
  </div>
</div>
