<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Uncle Bob's Mechanic Shop</span>
    <span class="spacer"></span>
    <span class="button-container" *ngIf="!(isLoggedIn$ | async)">
      <button mat-button [routerLink]="['/login']">Login</button>
      <button mat-button [routerLink]="['/register']">Register</button>
    </span>
    <span class="button-container" *ngIf="(isLoggedIn$ | async)">
      <button mat-button (click)="logout()">Log out</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
