.register-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 10vh;
  justify-content: center;
  
  .register-card {
    .mat-card-content {
      padding: 10px;
    }
  }
}
