<div>
  <div class="row">
    <mat-form-field class="col-md-9 col-xs-12">
      <input matInput placeholder="Username" [formControl]="username" />
      <mat-error *ngIf="username.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-md-9 col-xs-12">
      <input matInput type="password" [formControl]="password" placeholder="Password"/>
      <mat-error *ngIf="password.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-md-9 col-xs-12">
      <input matInput [formControl]="email" placeholder="Email" />
      <mat-error *ngIf="email.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-md-6 col-xs-12">
      <input matInput [formControl]="first_name" placeholder="First Name" />
      <mat-error *ngIf="first_name.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6 col-xs-12">
      <input matInput [formControl]="last_name" placeholder="Last Name" />
      <mat-error *ngIf="last_name.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-xl-12 button-container">
      <button mat-raised-button color="warn" [routerLink]="['/']">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Register</button>
    </div>
  </div>
</div>
