.login-container {
  display: flex;
  height: 95vh;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5vh;

  .login-card {
    .mat-card-content {
      margin: 15px;
    }
  }
}
