<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [editable]="false" [completed]="signedIntoSmartcar">
    <ng-template matStepLabel>Sign In</ng-template>
    <div class="container">
      <h3>Sign into your car's service provider</h3>
      <p>
        In order for Bob to be able to pick your car up from your office, he will need to
        be able to unlock your car and relock it once the job has been done and he has
        returned the car to your office.
        <br />
        <br />
        Please use the following button to sign into your car's service provider.
      </p>
      <button mat-raised-button style="width: 100%" color="primary" (click)=signinToSmartcar()>Sign In</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="form">
    <ng-template matStepLabel>Additional Information</ng-template>
    <div class="row pb-4">
      <div class="col-md-3 col-sm-12" *ngFor="let car of newCars; let index = index">
        <h3 matLine>{{car.year}} {{car.make}} {{car.model}}</h3>
        <p matLine>Please enter the color of the car</p>
        <span matLine *ngVar="getFormControl(index) as control">
          <mat-form-field>
            <input matInput placeholder="{{car.year}} {{car.model}} Color" [formControl]="control"/>
            <mat-hint align="end">{{control.value.length}} / 15</mat-hint>
            <mat-error *ngIf="control.hasError('required')">You must input a color</mat-error>
            <mat-error *ngIf="control.hasError('maxlength')">The color must be less than 15 characters</mat-error>
          </mat-form-field>
        </span>
      </div>
    </div>
    <div>
      <button mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Last Step</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
