/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";

body {
  margin: 0;
}

.button-container {
  .mat-button {
    margin-right: 5px;
  }
  .mat-raised-button {
    margin-right: 5px;
  }
}
